      <div id="menu">
	<ul>
	  <li>
	    <a href="/">
	      Home
	    </a>
	    <span>|</span>
	  </li>
	  <li>
	    <a href="/quizz">
	      List Quizz
	    </a>
	    <span>|</span>
	  </li>
	  <li>
	    <a href="/quizz/new">New Quizz</a>
	    <span>|</span>
	  </li>
	  <div id="author">
	    © Strzelewicz Alexandre 2011
	  </div>
	</ul>
      </div>
