<div id="home">
  <h2>Create you new quizzy !</h2>
  <form url="/new" type="post">
    <input type="text" id="quizz_name" name="quizz_name"/>
    <input type="submit" value="Create !"/>
  </form>
</div>
