<!DOCTYPE html>
<html>
  <head>
    <title>Quizzy</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.4.2.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </head>
  <body>
    <div id="container">

      <div id="header">
	<a href="/">
	  <h1>Welcome to Quizzy !</h1>
	</a>
      </div>

      <div id="menu">
	<ul>
	  <li>
	    <a href="/">
	      Home
	    </a>
	  </li>
	  <!-- <li> -->
	  <!--   <a href="/myQuizz"> -->
	  <!--     My Quizzs -->
	  <!--   </a> -->
	  <!-- </li> -->
	  <li>
	    <a href="/quizz">
	      List Quizz
	    </a>
	  </li>
	  <li>
	    <a href="/quizz/new">
	      New Quizz
	    </a>
	  </li>
	</ul>
      </div>

      <div id="main">
	<%- body %>
      </div>
      <div id="footer">
      </div>
    </div>
  </body>
</html>
