      <div id="menu">
	<ul>
	  <li>
	    <a href="/">
	      Home
	    </a>
	    <span>|</span>
	  </li>
	  <!-- <li> -->
	  <!--   <a href="/myQuizz"> -->
	  <!--     My Quizzs -->
	  <!--   </a> -->
	  <!-- </li> -->
	  <li>
	    <a href="/quizz">
	      List Quizz
	    </a>
	    	    <span>|</span>	
	  </li>
	  <li>
	    <a href="/quizz/new">
	      New Quizz
	    </a>
	  </li>
	</ul>
      </div>
