
<form method="post">
  <label for="title">Titre</label>
  <input type="text" id="title" name="title"/>
  <br/>
  <label for="body">Body</label>
  <input type="text" id="body" name="body"/>
  <br/>
  <div id="choices">
    <label for="body">Choix</label>
    <input type="text" id="ch" name="choice"/>
    <br/>
  </div>
  <input type="button" value="add" id="add-choice"/>

  <input type="submit" value="New Quizz"/>
</form>

<script src="/javascripts/new.js"></script>
