<html>
  <head>
    <title>Mobile Voters view</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>  
  
  </head>
  <body>
  
    <h1><%= quizz.title %> quizz</h1>
    <input type="hidden" id="quizz_id" value="<%= quizz._id %>"/>
    
    <% choices = quizz.choice; %>
    <div id="choices-display">
    <% for (var i = 0; i < choices.length; i++) { %>
      <input type="button" value="<%= choices[i].content %>" id="<%= choices[i].id %>"/>
      <br/>
    <% } %>
   </div>

  </body>
</html>
