
// Permits to change CSS attributes if mobile browser
@media all and (orientation: portrait) {  
    body { 
	background-color : #fff;
    }  
    div { }  
} 

// target small screens (mobile devices or small desktop windows)  
@media only screen and (max-width: 480px) {  
  /* CSS goes here */  
}  
  
/* high resolution screens */  
@media (-webkit-min-device-pixel-ratio: 2),  
             (min--moz-device-pixel-ratio: 2),  
             (min-resolution: 300dpi) {  
  header { background-image: url(header-highres.png); }  
}  
  
/* low resolution screens */  
@media (-webkit-max-device-pixel-ratio: 1.5),  
             (max--moz-device-pixel-ratio: 1.5),  
             (max-resolution: 299dpi) {  
  header { background-image: url(header-lowres.png); }  
}  



html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }



h1 {
    margin-top : 10px;
    margin-botto : 10px;
    text-align : center;
}

#choices-display {
    text-align : center;
}

input[type=button] {
    background-color : #06D;
    border : 1px solid #CCC;
    color : white;


    font-weight : bold;

    width : 300px;
    height : 60px;
    margin-bottom : 10px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    -khtml-border-radius: 35px;
    border-radius: 35px;
}

/* input[type=button]:hover { */
/*     background-color : #CCC; */
/* } */

.setVoted {
    background-color : #CCC !important;
}
